<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Home</title>
  </head>

  <style>
    body{
      background-image: url(https://images.unsplash.com/photo-1604928141064-207cea6f571f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80);
      background-size: cover;
    }
  </style>
  <body>

  <div class="container mt-5 pt-5">
    <h2 class="text-center text-uppercase">Buat Data Baru</h2><br>
      <div class="card col-6 mx-auto">
        <form class="px-4 py-3" action="/user" method="POST">
          <div class="form-group">
            <label for="fullname">Nama Lengkap :</label>
            <input type="text" name="fullname" class="form-control" placeholder="Your Name" required>
          </div>
          <div class="form-group">
            <label for="username">Username :</label>
            <input type="text" name="username" class="form-control" placeholder="username" required>
          </div>
          <div class="form-group">
            <label for="password">Kata Sandi :</label>
            <input type="password" name="password" class="form-control" placeholder="password" required>
          </div>
          <div class="form-group">
            <label for="address">Alamat :</label>
            <input type="text" name="address" class="form-control" placeholder="address" required>
          </div>
          <div class="form-group">
            <label class="my-1 mr-2" for="gender">Kelamin :</label>
            <select class="custom-select my-1 mr-sm-2">
              <option name="gender" value="Male">Pria</option>
              <option name="gender" value="Female">Wanita</option>
            </select>
          </div>
          <div class="form-group">
            <label class="my-1 mr-2" for="difficulty">Tingkat Kesulitan :</label>
            <select class="custom-select my-1 mr-sm-2">
              <option for="difficulty" value="Easy">Mudah</option>
              <option for="difficulty" value="Mediun">Lumayan</option>
              <option for="difficulty" value="Hard">Wah Susah</option>
            </select>
          </div>
          <input type="hidden" name="level" value="0" />
          <input type="hidden" name="have_won" value="0" />
          <input type="hidden" name="have_lost" value="0" />
          <div class="text-center">
            <button type="submit" class="btn btn-success">kumpulkan</button>
          </div>
        </form>
        <div class="text-center">
        <a class="text-info" href="./users">Tunjukkan Sesuatu</a>
      </div>
  </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>